
{% load static %}


<!doctype html>
<html lang="en">
  <head>
    
    <link href = "{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Ishaan Joshi | Portfolio</title>



    <style>
        
        div.scroll {
            margin:4px, 4px;
            padding:4px;
            background-color: rgb(209, 217, 219);
            width: 400px;
            height: 150px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align:justify;
        }
    </style>
  </head>
  <body>
   
    




    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="">Portfolio - Ishaan Joshi</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                
              </li>
            
             
            </ul>

            
             
            
            <a href="https://github.com/ishaanj2000">
                <img alt="Github" src="https://www.iconninja.com/files/241/825/211/round-collaboration-social-github-code-circle-network-icon.svg" width="52" height="52">
             </a>
             &nbsp&nbsp&nbsp

             <a href="https://www.linkedin.com/in/ishaan-joshi-95638a191/">
                <img alt="LinkedIn" src="https://image.flaticon.com/icons/png/128/145/145807.png" width="45" height="45">
             </a>
             &nbsp&nbsp&nbsp
             <a href="mailto:ishaanj2000@gmail.com">
                <img alt="Email" src="http://assets.stickpng.com/images/584856bce0bb315b0f7675ad.png" width="42" height="42">
             </a>


            
            
          </div>
        </div>
      </nav>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

    




   
    <div class= "container pt-5">

        
        <button onclick="typeWriter()"type="button" class="btn btn-primary">Who am I?</button>

        <p id="demo"></p>

        <script>
        document.getElementById("demo").style.fontSize = "xx-large";
        document.getElementById("demo").style.fontFamily = "Courier New";
        var i = 0;


        var txt = `
        Undergraduate Student at BMS College of Engineering.
        Vice Chairman at BMSCE IEEE PES. But most importantly, A Curious Learner!`;
        var speed = 60;

        function typeWriter() {
        if (i < txt.length) {
            document.getElementById("demo").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
        }
        </script>

    </div>  
    

    <div class = "container pt-3">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img height = "300" src="https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRlY2hub2xvZ3l8ZW58MHx8MHxibGFja3w%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Data Science and Machine Learning</h5>
              
            </div>
          </div>
          <div class="carousel-item">
            <img height = "300" src="https://images.unsplash.com/photo-1511287381215-8c58b84f8896?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8d2ViJTIwZGVzaWdufGVufDB8fDB8YmxhY2t8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Web Development</h5>
              
            </div>
          </div>
          <div class="carousel-item">
            <img height = "300"src="https://images.unsplash.com/photo-1517873569652-f231d7134909?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fGNvbnRlbnQlMjB3cml0aW5nfGVufDB8fDB8YmxhY2t8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" height = "500;"class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Technical Content Writing</h5>
              
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>


    



    <div class="container pt-5" >
        <div class="card-columns">
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <img height ="200px" src="https://images.unsplash.com/photo-1604597892687-8060bc24c575?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y292aWR8ZW58MHx8MHxibGFja3w%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Covid Symptoms Dataset Kaggle</h5>
                        <p class="card-text"><b>Exploratory Data Analysis </b> and Accuracy of Machine Learning Algorithms on Kaggle Covid Dataset</p>
                        <a href="https://www.kaggle.com/ijoshi2000/symptoms-and-covid-presence-notebook" class="btn btn-primary">Link to Notebook</a>
                        </div>
                    </div> 
                </div>

                    <div class="col-sm">
                        <div class="card" >
                            <img height ="200px"src="https://images.unsplash.com/photo-1616004667892-d348f7349d39?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGNvZGluZ3xlbnwwfHwwfGJsYWNrfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Basic Machine Learning Models</h5>
                            <p class="card-text">Machine Learning models compared for accuracy using <b>Pandas and Sci-kit Learn Python libraries</b></p>
                            <a href="https://www.kaggle.com/ijoshi2000/basic-machine-learning-techniques" class="btn btn-primary">Link to Notebook</a>
                            </div>
                        </div>
                        
                    </div>

                    <div class="col-sm">
                        <div class="card" >
                            <img height ="200px"src="https://images.unsplash.com/photo-1534248177-07451aceb988?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fHZlaGljbGUlMjBkZXRlY3Rpb258ZW58MHx8MHxibGFja3w%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Vehicle Detection System</h5>
                            <p class="card-text">Created a basic vehicle detection system based on a video using openCV Python library</p>
                            </div>
                        </div>
                        
                    </div>


                    <div class="col-sm">
                        <div class="card" >
                            <img height ="200px" src="https://images.unsplash.com/photo-1453090522900-026de5423c2a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdW1lfGVufDB8fDB8YmxhY2t8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Portfolio Website</h5>
                            <p class="card-text">Portfolio Website from scratch using <b>Django</b>, HTML, CSS and Bootstrap. Practice of concepts.</p>
                            
                            </div>
                        </div> 
                    </div>
    
                        <div class="col-sm">
                            <div class="card" >
                                <img height ="200px"src="https://images.unsplash.com/photo-1611974789855-9c2a0a7236a3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGdyYXBoc3xlbnwwfHwwfGJsYWNrfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">Visualization of Algorithms</h5>
                                <p class="card-text">Representation of famous algorithms such as dijekstra's algorith and k-nearest neighbours</p>
                                <a href="https://github.com/ishaanj2000/ThatAlgoSimplified" class="btn btn-primary">Link to Project Code</a>
                                </div>
                            </div>
                            
                        </div>
    
                        <div class="col-sm">
                            <div class="card" >
                                <img height ="200px"src="https://images.unsplash.com/photo-1529070538774-1843cb3265df?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29sbGVnZXxlbnwwfHwwfGJsYWNrfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">Student-Teacher Portal</h5>
                                <p class="card-text">Concepts of <b>DBMS using MYSQL and PHP</b> were transated into a website. HTML,CSS and Bootstrap used for layout and design.</p>
                                <a href="https://www.kaggle.com/ijoshi2000/basic-machine-learning-techniques" class="btn btn-primary">Link to Project Code</a>
                                </div>
                            </div>
                            
                        </div>


                    


                    
                
                
            </div>
        </div>
    </div>

    <div class="container pt-5">
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Course Name</th>
            <th scope="col">Organization</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Neural Networks and Deep Learning</td>
            <td>deeplearning.ai</td>
            
          </tr>

          <tr>
            <th scope="row">2</th>
            <td>Machine Learning Course</td>
            <td>CellStrat</td>
            
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Introduction to Data Science in Python</td>
            <td>University of Michigan</td>
            
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Pandas Course</td>
            <td>Kaggle</td>
            
          </tr>


          <tr>
            <th scope="row">5</th>
            <td>Crash Course on Python</td>
            <td>Google</td>
            
          </tr>


          <tr>
            <th scope="row">6</th>
            <td>Introduction to Programming Using HTML,CSS and Javascript</td>
            <td>Coursera</td>
            
          </tr>
        </tbody>
      </table>
    </div>


    <div class= "container pt-5">

        
            <h2><div class="container">
                <div class="row">
                  <div class="col-sm-3 color" >
                    Experience
                    <div class="scroll" style="background:white">
                        <h6>
                            Python Developer at Smilyo<br>(Nov - Dec 2020)
                         <br><br>
                          Vice Chairman at BMSCE IEEE PES<br>(Feb 2020 - Present )
                         <br><br>
                          Content Writer at Gothic Geeks<br>(May - June 2020)
                         
                        </h6>
                    </div> 
                  </div>

                  
                  <div class="col-sm-3">
                      Blogs written
                    
                    <div class="scroll" style="background:black">
                        <h6 style="color:rgb(255, 255, 255)">
                          AI in Prosthetics
                         <br><br>
                          A brief Guide to Quantum Computing
                         <br><br>
                          Immersive Virtual Reality
                         <br><br>
                          Basic Concepts of Cloud Computing
                         <br><br>
                          Search Engine Optimization
                         <br><br>
                          Steganography
                        </h6>
                    </div>
                  </div>
                  
                  <div class="col-sm-3">
                    Achievements
                    <div class="scroll" style="background:white">
                        <h6>
                          Competitions Contributor on Kaggle
                         <br><br>
                          3rd Place in a hackathon by IEEE
                         <br><br>
                          Best in Computer Science IGCSE 
                          <br><br>
                          LinkedIn Skill Assessment Batch for Machine Learning and Python
                         
                        </h6>
                    </div>
                  </div>
                </div>
              
            
        

    </div>  
    
   
    
    <div class= "container pt-5" style="margin-bottom:70px">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <b>Skills</b>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                
                <h6>Web Development, Programming and Debugging, Database Management System, Programming Languages</h6>
                </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <b>Technologies</b>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                <h6>Python, Django, Pandas, Numpy, C++, MYSQL, HTML, CSS, JavaScript, Bootstrap, Git</h6>
                </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <b>Interests</b>
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                <h6>Text Classification, Deep Learning, Web Development, Open Source Software Development</h6>
                </div>
            </div>
            </div>
        </div>
    </div>

    

  </body>
</html>